.status-badge {
    font-family: "Rubik";
    padding: 6px 12px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 700;
    display: block;
    text-wrap-style: stable;
}

.status-pending {
    background-color: #fef3c7;
    color: #92400e;
}

.status-in_progress {
    background-color: #dbeafe;
    color: #1e40af;
}

.status-printed {
    background-color: #d1fae5;
    color: #065f46;
}

.status-repaired {
    background-color: #d1fae5;
    color: #065f46;
}

.status-cancelled {
    background-color: #fee2e2;
    color: #d32f2f;
}

.status-unresolved {
    background-color: #fee2e2;
    color: #d32f2f;
}

.status-released {
    background-color: #dcd4ff;
    color: #5b21b6;
}

.status-in_office {
    background-color: #fce2bf;
    color: #d9480f;
}

.action-buttons {
    display: flex;
    /* margin: auto; */
    gap: 5px;
    padding: 1px;
    /* width: 300px; */
    /* max-width: 100%; */
}

.btn {
    text-decoration: none;
    text-align: center;
    font-family: "Rubik", sans-serif;
}

.btn-status {
    padding: 9px;
    border-radius: 4px;
    font-size: 16px;
    font-family: "rubik";
    letter-spacing: 1px;
    font-weight: 500;
    width: 100%;
    cursor: pointer;
    border: none;
    transition: opacity 0.2s;
}

.btn-status:hover {
    opacity: 0.9;
}

.btn-progress {
    background-color: #3b82f6;
    color: white;
}

.btn-released {
    background-color: #5b21b6;
    color: white;
}

.btn-cancel {
    background-color: #ef4444;
    color: white;
}

.btn-edit {
    padding: 6px 12px;
    background-color: var(--bg-button);
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
}

.btn-edit:hover {
    background-color: var(--light);
}

.btn-generate-id,
.btn-generate-device-id {
    background-color: var(--bg-button);
    padding: 8px 12px;
    border-radius: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: 1px solid var(--bg-button);
}
.btn-generate-id:hover,
.btn-generate-device-id:hover {
    border: 1px solid var(--light);
    background-color: var(--light);
    color: white;
}
.submit-btn {
    background-color: var(--bg-button);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-family: "Rubik", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    transition: background-color 0.2s ease-in-out;

    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.submit-btn:hover {
    background-color: var(--light);
    width: auto;
}

.btn-success {
    background-color: var(--bg-button);
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-family: "Rubik", sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
    min-width: 50px;
}

.btn-normal {
    background-color: var(--bg-button);
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-family: "Rubik", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    min-width: 50px;
    transition: background-color 0.2s ease-in-out;
}

.btn-normal:hover {
    background-color: var(--light);
}

.btn-danger {
    background-color: rgb(192, 13, 13);
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-family: "Rubik", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
    min-width: 50px;
}

.btn-danger:hover {
    opacity: 0.9;
}

.btn-info {
    background-color: var(--bg-button);
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-family: "Rubik", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
    min-width: 50px;
}

.btn-info:hover {
    background-color: var(--light);
}

.btn-secondary {
    background-color: rgb(94, 94, 94);
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-family: "Rubik", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
    min-width: 50px;
}

.btn-secondary:hover {
    opacity: 0.9;
}
