.status-badge {
    font-family: 'Rubik';
    padding: 6px 12px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 700;
    display: block;
    text-wrap-style: stable;
}

.status-pending {
    background-color: #FEF3C7;
    color: #92400E;
}

.status-in_progress {
    background-color: #DBEAFE;
    color: #1E40AF;
}

.status-printed {
    background-color: #D1FAE5;
    color: #065F46;
}

.status-repaired {
    background-color: #D1FAE5;
    color: #065F46;
}

.status-released {
    background-color: #dcd4ff;
    color: #5B21B6;
}

.status-cancelled {
    background-color: #FEE2E2;
    color: #D32F2F;
}

.status-unrepairable {
    background-color: #FEE2E2;
    color: #D32F2F;
}

.action-buttons {
    display: flex;
    /* margin: auto; */
    gap: 5px;
    padding: 1px;
    /* width: 300px; */
    /* max-width: 100%; */
}


.btn-status {
    padding: 9px;
    border-radius: 4px;
    font-size: 16px;
    font-family: 'rubik';
    letter-spacing: 1px;
    font-weight: 500;
    width: 100%;
    cursor: pointer;
    border: none;
    transition: opacity 0.2s;
}

.btn-status:hover {
    opacity: 0.9;
}

.btn-progress {
    background-color: #3B82F6;
    color: white;
}

.btn-released {
    background-color: #5B21B6;
    color: white;
}

.btn-cancel {
    background-color: #EF4444;
    color: white;
}

.btn-edit {
    padding: 6px 12px;
    background-color: #6B7280;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
}

.btn-edit:hover {
    background-color: #4B5563;
}